- name: Manage users
  user:
    name: {{ item.username }}
    state: {{ item.state }}

  loop: {{ users }}

- name: List users on local terminal
  debug: "{{ item.username }}, State: {{ item.state }}"

- name: Broadcast msg
  shell: "wall 'Ansible is configuring this machine rn!'"

- name: check local env var
  debug:
    msg: "'{{ lookup('ansible.builtin.env', 'HOME') }}' is HOME env var."
